/**
 * IMPORTS
 */
.field-item {
  background: #ffffff;
  border: 1px solid #dedede;
  border-radius: 4px;
  margin: 20px 0;
  padding: 15px; }
  .field-item__name {
    color: #087aa0;
    margin: .5rem 0; }

.group-detail {
  background: #fafafa;
  padding: 0 15px; }
  .group-detail__header {
    color: #087aa0;
    margin: .5rem 0; }

.sidebar {
  background: #fafafa;
  border-radius: 2px; }
  .sidebar__header {
    background: #14a97c;
    color: #ffffff;
    font-size: 1.2rem;
    margin: 0;
    padding: 10px; }
  .sidebar__subhed {
    color: #32c4f5;
    font-size: 1rem;
    margin: 0; }
    .sidebar__subhed:hover {
      cursor: hand;
      cursor: pointer; }
    .sidebar__subhed--active {
      color: #666; }
    .sidebar__subhed--active + .sidebar__accordion {
      max-height: 9999px; }
  .sidebar__accordion {
    max-height: 0;
    overflow: hidden; }
  .sidebar__group {
    background: #ffffff;
    margin: 0;
    padding: 10px;
    border-bottom: 1px solid #dedede; }
  .sidebar__item:hover {
    cursor: hand;
    cursor: pointer; }
  .sidebar__link {
    color: #999999;
    display: inline-block;
    font-size: .9rem;
    height: 1.6rem;
    margin: .25rem 0;
    text-decoration: none;
    transition: color, .2s; }
    .sidebar__link:hover, .sidebar__link:active, .sidebar__link:focus {
      color: #32c4f5; }
      .sidebar__link:hover:before, .sidebar__link:active:before, .sidebar__link:focus:before {
        background: #32c4f5; }
    .sidebar__link:before {
      background: #999999;
      content: "";
      display: inline-block;
      margin: 0 5px;
      height: 1.6rem;
      position: relative;
      top: .4rem;
      transition: background, .2s;
      width: 5px; }
    .sidebar__link--active {
      color: #b51c44; }
      .sidebar__link--active:before {
        background: #b51c44; }

@media only screen and (min-width: 768px) {
  .sidebar {
    border-right: 1px solid #dedede; } }

/**
 * GENERAL STYLES
 */
* {
  box-sizing: border-box; }

body {
  background: #dedede;
  color: #222222; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

.container {
  display: block;
  margin: 25px auto; }

@media only screen and (min-width: 768px) {
  .container {
    border: 1px solid #999999;
    border-radius: 4px;
    display: flex;
    max-width: 1024px; }
  .flex-one {
    flex-grow: 1;
    flex-shrink: 1; }
  .flex-two {
    flex-grow: 2;
    flex-shrink: 2; }
  .flex-three {
    flex-grow: 3;
    flex-shrink: 3; } }
