/**
 * IMPORTS
 */
@import 'styles/colors.scss';
@import 'styles/field-item.scss';
@import 'styles/group-detail.scss';
@import 'styles/sidebar.scss';

/**
 * GENERAL STYLES
 */
* {
  box-sizing: border-box;
}

body {
  background: $gray;
  color: $black;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.container {
  display: block;
  margin: 25px auto;
}

@media only screen and (min-width: 768px) {
  .container {
    border: 1px solid $gray-mid;
    border-radius: 4px;
    display: flex;
    max-width: 1024px;
  }

  .flex-one {
    flex-grow: 1;
    flex-shrink: 1;
  }

  .flex-two {
    flex-grow: 2;
    flex-shrink: 2;
  }

  .flex-three {
    flex-grow: 3;
    flex-shrink: 3;
  }
}
